<h1 mat-dialog-title class="text-center">ยืนยันการชำระเงิน</h1>
<div mat-dialog-content>
  <ul>
    <li *ngFor="let order of data.selectedOrders">
      <p>โต๊ะ: {{ order.table_id }}</p>
      <p>วันที่: {{ order.order_date[2] }}/{{ order.order_date[1] }}/{{ order.order_date[0] }} เวลา: {{ order.order_date[3] }}:{{ order.order_date[4] }}:{{ order.order_date[5] }}</p>
      <p>เมนู: {{ order.menu_names }}</p>
      <p>ราคารวม: {{ order.total_price }}</p>
      <!-- เพิ่มข้อมูลเพิ่มเติมตามต้องการ -->
    </li>
  </ul>
  <p class="font-bold">ราคารวมทั้งหมด: {{ totalPrice }}</p>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button [mat-dialog-close]="true">ยืนยัน</button>
  <button mat-button [mat-dialog-close]="false">ยกเลิก</button> -->
  <div class="flex justify-end p-8">
    <button (click)="onConfirm()" class="bg-yellow-500 hover:bg-yellow-400 text-white py-2 px-4 rounded-3xl mt-4 mr-2 w-32 ">
        ตกลง
    </button>
    <button mat-button [mat-dialog-close]="false" class="bg-red-500 hover:bg-red-400 text-white py-2 px-4 rounded-3xl mt-4 w-32">ยกเลิก</button>
</div>
</div>


<!-- หน้าpopup -->