<div class="responsive-text">
    <div class="flex justify-center font-semibold p-5">
       เลือกโต๊ะอาหาร
    </div>
    <div class="flex justify-center"> 
        <div class="grid grid-cols-5 text-center">
            <div *ngFor="let table of tables" 
                 (click)="selectTable(table)" 
                 [ngClass]="{'bg-yellow-400': selectedTable === table}" 
                 class="bg-gray-200 focus:bg-yellow-400 rounded mx-5 my-5 h-32 w-32 flex justify-center items-center">
                โต๊ะ {{ table.tableNumber }} 
            </div>
        </div>
    </div>
    <div class="flex justify-end pr-8">
        <button (click)="onConfirm()" class="bg-yellow-500 hover:bg-yellow-400 text-white py-2 px-4 rounded-3xl mt-4 mr-2 w-32 " [disabled]="!selectedTable">
            ตกลง
        </button>
        <button (click)="onCancel()" class="bg-red-500 hover:bg-red-400 text-white py-2 px-4 rounded-3xl mt-4 w-32">ยกเลิก</button>
    </div>
</div>
