<body class="bg-[rgba(245,245,245,255)]">
    
    <div class="grid grid-cols-[3fr_7fr_5fr] ">
        <div class="grid bg-[rgba(217,217,217,255)] ">
            <div>
                <div class="sticky top-0">
                    <div>
                        <div class="bg-[rgba(245,245,245,255)] p-20 "></div>
                        <div >
                            <div class="m-5 p-5  hover:bg-yellow-400 hover:text-white bg-white rounded-full text-lg text-[rgb(129,125,125)] ">
                                <button >
                                    <div class="flex items-center responsive-text ">
                                        <img src="assets/image/menu_list_2.png">
                                        <p class=" mx-2">รายการอาหาร</p>
                                    </div>
                                </button>
                            </div>
                            <div class="m-5 p-5 hover:bg-yellow-400 hover:text-white bg-white rounded-full text-lg text-[rgb(129,125,125)] responsive-text ">
                                <button >
                                    <div class="flex items-center">
                                        <img src="assets/image/menu_order.png">
                                        <p class="mx-2">ออเดอร์</p>
                                    </div>  
                                </button>
                            </div>
                            <div class="m-5 p-5  hover:bg-yellow-400 hover:text-white bg-white rounded-full text-lg text-[rgb(129,125,125)] responsive-text ">
                                <button >
                                    <div class="flex items-center">
                                        <img src="assets/image/menu_edit.png">
                                        <p class="mx-2">แก้ไขรายการ</p>
                                    </div>
                                </button>
                            </div>
                            <div class="m-5 p-5  hover:bg-yellow-400 hover:text-white bg-white rounded-full text-lg text-[rgb(129,125,125)] responsive-text ">
                                <button >
                                    <div class="flex items-center">
                                        <img src="assets/image/menu_report.png">
                                        <p class="mx-2">รายงาน</p>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- ฝั่งรายการอาหาร -->
        <div class="bg-[rgba(245,245,245,255)] ">
     
            <div class="grid grid-cols-3 gap-3 mx-3 mt-24 text-gray-500 responsive-text">
                <div class="flex items-center justify-center bg-[rgba(217,217,217,255)] hover:bg-orange-300 hover:text-orange-500 p-2 rounded-3xl">
                    <div>
                      <p class="mx-auto">ออเดอร์ล่าสุด</p>
                    </div>
                  </div>
                  <div class="flex items-center justify-center bg-[rgba(217,217,217,255)] hover:bg-orange-300 hover:text-orange-500 rounded-3xl">
                    <div>
                      <p class="mx-auto">เสร็จแล้ว</p>
                    </div>
                  </div>
                  <div class="flex items-center justify-center bg-[rgba(217,217,217,255)] hover:bg-orange-300 hover:text-orange-500 rounded-3xl">
                    <div>
                      <p class="mx-auto">ประวัติออเดอร์</p>
                    </div>
                  </div>
            </div>
            <div class="p-6 responsive-text ">
                
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>

                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>
                <div class="pb-2">
                    <div class="justify-self-end bg-white h-32 shadow-md rounded-xl flex flex-col justify-center p-5  font-bold text-gray-500 hover:border-2 border-orange-500 ">
                        <div class="flex items-center mb-2 ">
                          <p class="mx">ออเดอร์ : </p>
                          <p>#A01</p>
                        </div>
                        <div class="flex items-center">
                          <p class="">โต๊ะ : </p>
                          <p>#1</p>
                        </div>
                      </div>
                </div>

        
      




              
                  
                  

                  <!-- <div class="sticky bottom-0">
                    <button class=" m-5 p-5 w-screen bg-[rgba(250,175,21,1)]   rounded-3xl  text-lg text-white ">
                        <div class="flex items-center">
                            <p class="mr-auto">เส้นเล็กเนื้อเปื่อย</p>
                            <p class="font-bold mr-5">60</p>
                        </div>
                    </button>
                </div> -->
            </div>


          </div>

        <!-- ฝั่งออเดอร์ -->

        <div>
            <div class="grid grid-row-4 bg-white h-screen sticky top-0">
                <div  class="flex  px-4 pt-8 text-[rgb(129,125,125)] responsive-text "> 
                    <p >ยังไม่มีรายการออเดอร์</p>
                </div> 
                <div class="py-20">
                    <img src="assets/image/imageOrder.png" class="m-auto sm:w-4/5 md:w-w-4/5 lg:w-4/5 xl:w-4/5 2xl:w-4/5">
                    <p class="text-center text-[rgb(129,125,125)] responsive-text ">รอออเดอร์</p>
                </div>
                <div class="p-4  sm: md:p-2 lg:pt-44 xl:pt-4  2xl:">
                    <div class="shadow-[rgba(17,_17,_26,_0.2)_0px_0px_16px] flex items-center ">
                        <p class="mr-5 pl-2 text-[rgb(75,75,75)] responsive-text ">ราคารวม</p>
                        <p class="text-lg font-bold text-yellow-400 responsive-text ">0.00 B</p>
                    </div>
                </div>
                <div class="pb-10 p-4 sm: md:p-2 lg:pb-20 xl:pt-5 2xl:">
                    <button class=" w-full p-5 hover:bg-yellow-400 bg-[rgba(250,175,21,1)]   rounded-3xl  text-lg text-white ">
                        <div class="flex items-center">
                            <p class="responsive-text ">ยืนยันออเดอร์</p>
                          </div>                      
                    </button>
                </div>
          </div>
        </div>

      </div>
    </body>
